@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg: #f8f8f8;
  --color-text: #03030;
  --font-weight: normal;
  --box-create: #191970;
  --box-ten: #008080;
  --color-huh: #d31a48;
  --box-shadow: 3px 3px 15px #d4d4d4, -3px -3px 15px #ffffff;
  --filter-img: brightness(100%) contrast(150%);
}

body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background: var(--bg);
  color: var(--color-text);
  font-weight: var(--font-weight);
  transition: 0.2s linear;
}

.hot {
  font-weight: bold;
  color: var(--color-huh);
}

p {
  margin: 7px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'header' 'main';
}

.header {
  grid-area: header;
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.header img {
  width: 60px;
  cursor: pointer;
  margin: 0px 10px 0px 10px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  filter: var(--filter-img);
}

.header img:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.btn {
  padding: 14px;
  margin: 10px;
  color: white;
  border: none;
  font-family: 'Raleway', sans-serif;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.btn:focus {
  outline: none;
}

.btn1 {
  background: none;
  border: 1px solid var(--box-create);
  color: var(--box-create);
}

.btn1:hover {
  transition: 0.3s ease;
  color: white;
  background: var(--box-create);
}

.btn2 {
  background: none;
  color: var(--box-ten);
  border: 1px solid teal;
}

.btn2:hover {
  color: var(--bg);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background: var(--box-ten);
}

.btn3 {
  padding: 15px;
  background-image: linear-gradient(
    to right,
    #feac5e,
    #c779d0,
    #b993d6,
    #8ca6db
  );
  background-size: 300%;
}

.btn3:hover {
  background-position: 100% 0%;
  /* moz-transition: all 0.4s ease-in-out; */
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.btn4 {
  background: none;
  color: #d53369;
  border: 1px solid #d53369;
}

.btn4:hover {
  transition: 0.25s ease-in-out;
  color: white;
  background: rgb(255, 132, 110);
}

.btn5 {
  background: none;
  color: #f00000;
  border: 1px solid tomato;
}

.btn5:hover {
  background: rgb(251, 113, 89);
  color: white;
  transition: 0.25s ease-in-out;
  background: #dc281e;
}

.theme {
  position: absolute;
  right: 45px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #999999c2, -2px -2px 10px #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 5px 10px 5px 10px;
  width: 45px;
  height: 26px;
  border-radius: 50px;
  cursor: pointer;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px !important; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.moon {
  color: #f1c40f;
  font-size: 8px;
}

.sun {
  color: #f39c12;
  font-size: 8px;
}

.ball {
  background: #eeeeee;
  box-shadow: 0px 0px 8px #09090961;
  position: absolute;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  width: 26px;
  height: 26px;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label {
  background-color: #1f1f1f;
  box-shadow: 3px 3px 15px #090909, -3px -3px 15px #151515;
}

.checkbox:checked + .label .ball {
  transform: translateX(28px);
  background: #272727;
  box-shadow: 0px 0px 8px #09090961;
}

/* BOX */
.boxs {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  justify-items: center;
  padding: 30px;
  transition: 0.5s ease;
}

.boxs div {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

.light-text {
  color: #eeeeee;
}

.dark-text {
  color: #333333 !important;
}

#box {
  width: 200px;
  height: 200px;
  border-radius: 14px;
  cursor: pointer;
  transform: scale(1);
  box-shadow: var(--box-shadow);
}

#box:hover {
  opacity: 0.88;
  /* filter: drop-shadow(0px 5px 5px rgba(35, 35, 35, 0.516)); */
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

#box:active,
#box:focus {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .boxs {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }

  #box {
    width: 100px !important;
    height: 100px !important;
    font-size: 1em;
    font-weight: bold;
  }

  .header img {
    width: 50px;
    margin: 0px 5px 0px 5px;
  }

  .btn {
    padding: 7px;
    font-size: 10px;
    margin: 7px;
    width: 60px;
  }

  p {
    font-size: 12px;
    margin: 7px;
  }

  .texts {
    margin-top: 40px;
    margin-left: 20px;
  }

  .theme {
    margin-top: 55px;
    left: 42%;
    transform: translateX(-50%, -50%);
  }
}
